/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 34%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */

.modal-header {
  position: absolute;
}
.close {
  position: absolute;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

.close:hover {
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  position: relative;
  min-height: 350px;
  top: 50%;
  overflow: hidden;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.carousel-container {
  margin-right: auto;
  margin-left: auto;
  width: 1250px;
  overflow: hidden;
  position: relative;
}

.carousel-nav {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 63px;
  height: 63px;
  cursor: pointer;
}

.carousel-nav.carousel-next {
  right: 25px;
  left: auto;
}

.carousel-next {
  font-size: 30px;
  color: $red-text;
}
.carousel-prev {
  margin-left: 60px;
  font-size: 30px;
  color: $red-text;
}
.carousel-box {
  position: relative;
}

.carousel-container-picture {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 3em;
  border-bottom-width: 3em;
  padding-bottom: 3em;
  margin-left: 10%;
  margin-right: 10%;
  transition: 400ms;
  right: 0;
}

.modal-media {
  width: 365px;
  object-fit: cover;
  margin-right: 220px;
  height: 550px;
}

.pictures-bottom {
  color: $red-text;
}

.fa-times {
  color: $red-text;
  font-size: 35px;
  position: absolute;
  top: 7%;
  right: 14%;
  cursor: pointer;
}

#contactModal {

  .modal-content{
    height: 700px;

  }

  h1 { 
    font-size: 64px;
  }

  label {
    font-size: 36px;
  }

  .message-label {
    margin-top: 1rem;
  }
  .fa-times {
    position: absolute;
    color: white;
    left: 88%;
    font-size: 50px;
    z-index: 5;
  }
  .contact-modal-content {
    background-color: #db8876;
    padding: 2rem;
  }

  .modal-body-inputs {
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    height: 85%;
    top: 15%;

    &-inputs {
      height: 100%;
      display: flex;
      align-content: space-around;
    }

    input {
      border: none;
      height: 150px;
      font-size: 20px;
      border-radius: 5px;
      padding-left: 0.5rem;  
    }
    textarea {
      border: none;
      font-size: 20px;
      border-radius: 5px;
      resize: none;
    }
  }
  .modal-send-button {
    background: $red-text;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    line-height: 26px;
    padding: 21px 11px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    height: 70px;
    width: 250px;
    margin-top: 1rem;

    &:hover {
      background: #721616;
  }
  }
}


//////// RESPONSIVE ///////

@media (min-width: 350px) and (max-width: 450px) {
  

  .modal-media {
    position: relative;
    right: 36px;
    height: 270px;

  }

  .carousel-container {
    width: 250px !important;
  }

  .carousel-nav {
    top: 45%;
    font-size: 20px !important;

  }

  .carousel-next {
      right: -12px !important;

  }

  .carousel-prev {
    left: -25px;

  }

  .pictures-bottom{
    position: relative;
    left: -7px;
  }

  .fa-times {
    top: 12%;
    right: 8%;
    font-size: 20px !important;

  }


 

  .carousel-container-picture{

    max-width: 290px;
    margin-right: 220px;
  }

  #contactModal {

    .fa-times{
      top: 3%;
      left: 88%;
      font-size: 25px !important;
    }

    h1 {
      font-size: 36px;
    }

    .modal-body{
      top: 0 !important;
    }
    .modal-content {
      height: 100%;
      width: auto !important;
      .modal-body {

        top: 115px !important;
        
        &-inputs {

          .modal-send-button{
            height: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            margin-left: 17%
          }
        
      
          label {
            font-size: 24px;
            margin-bottom: 6px;
            margin-top: 14px;
          }
      
          input {
            height: 52px;
            width: 300px;
          }

          textarea {
            height: 185px;
            width: 305px;

          }
        }

      }
    }


  }
  
 


}