.photographer-page {
    background: #fafafab7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 56px;
    justify-content: space-between;
    margin-top: 51px;

    &-details {
        &-head {
            display: flex;
            flex-direction: row;
            align-items: center;

            &-name {
                padding-right: 118px;
                color: $orange-text;
                font-size: 64px;
                line-height: 83px;
                font-weight: normal;
            }

            &__contact {
                background: $red-text;
                border-radius: 5px;
                color: white;
                font-size: 20px;
                line-height: 26px;
                padding: 21px 11px;
                border: none;
                cursor: pointer;
                transition: 0.2s;
                height: 70px;

                &:hover {
                    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.59);
                }
            }
        }

        &-city {
            color: $red-text;
            font-size: 24px;
            font-weight: normal;
        }

        &-tags {
            display: flex;
            flex-direction: row;
            margin-top: 19px;
        }
    }
}

.photographer-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.2);
    transition: 0.1s
}



   
    .pictures-cards {
        margin-top: 170px;
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &-card {
            margin-bottom: 2em;
           

            &-content {
                object-fit: cover;
                width: 350px;
                height: 300px;
                cursor: pointer;
            }
        }
    }


.pictures-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;

    &-title {
        font-weight: normal;
        font-size: 24px;
        line-height: 31px;
        color: $red-text;
    }

    &-likes {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-align: right;  
        color: $red-text;
    }

    .fa-heart {
        margin-left: 6px;
    }
}



//////////// RESPONSIVE ///////////////@at-root

@media (min-width: 350px) and (max-width: 450px) {

    .photographer-page {
        padding: 0;
        background: none;

        &-details {

            &-quote {
                margin-top: 4px;
                margin-bottom: 4px;
                font-size: 13px;
            }

            &-city {
                margin-top: 4px;
                margin-bottom: 4px;
                font-size: 13px;
            }

            &-head {

                &-name {
                    height: 60px;
                    font-size: 36px;
                    padding-right: 0;
                    width: 250px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .photographer-picture{
        position: absolute;
        width: 115px;
        height: 115px;
        left: 250px;
        top: 133px;
        box-shadow: none;
    }

    

    .photographer-page-details-head__contact{
        position: fixed;
        display: flex;
        left: 31%;
        top: 87%;
        height: 40px;
        padding: 0.4em 0.8em;
    }

    .filter {
        display: none !important;
    }

    .bottom-card {
        display: none !important;
    }

    .pictures-cards {

        margin-top: 2em;

        &-card {

            img {
                height: 190px;
                width: 335px;
                border-radius: 5px;
            }

            video {
                height: 190px;
                width: 335px;
                border-radius: 5px;
            }

            .pictures-bottom{

                &-title {
                    font-size: 14px;

                }

                &-likes {
                    font-size: 14px;

                }
            }
          
            margin-bottom: 38px;
        }
    }

    .modal{
        padding: 0 !important;

        &-body {
            top: 30% !important;
        }

        &-content {
            height: 100%;
            width: 100% !important;
        }

        .carousel-container {

            &-picture {
                width: 290px;
                margin-left: 3%;
                img {
                    height: 248px;

                }
            }
        }
    }
}